.text-18pt{
    font-size: 18pt;
}
.w-100pc{
    width: 100%;
}
.title{
    font-size: 96pt;
    padding-bottom: 20px;
}
.fixed-bottom{
    z-index: 1;
    background-color: rgb(0.5, 0.5, 0.5, 0.75);
}
.m-50px{
    margin-left: 50px;
}
.m-10px{
    margin-left: 10px;
}
.bg-spotimy{
    background-color: #54d93d;
}